.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* smooth content limitation for content sections with up to 120px padding */
/* |  |<---------- 1440 ---------->|  | */
/* |  |            Hero            |  | */
/* |  |<-120| Content (desk) |120->|  | */
/* |  |<- 20| Content (mobi) | 20->|  | */

.content-main-section {
    height: 100%;
    width: 100%;
    /* padding desktop/mobile top/bottom 80px -> 40px & left/right 120px -> 20px */
    padding: clamp(20px, calc((100vw - 400px) * (40 - 20) / 820 + 20px), 40px)
        clamp(20px, calc((100vw - 400px) * 100 / 840 + 20px), 120px);
}

@media screen and (min-width: 1441px) {
    .content-main-section {
        padding: 40px max(calc(50% - 720px + 120px), 120px);
    }
}
