/* #region footer */
footer {
    background-color: var(--color-main1);
    width: 100%;
    display: flex;
    align-items: center;

    > div {
        width: 100%;
        height: 222px;
        padding: 24px clamp(30px, calc((100vw - 400px) * 96 / 840 + 24px), 120px);
        padding-bottom: 112px;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    p {
        color: white;
        font-size: 1rem;
    }

    a {
        text-decoration: none;
        color: white;
        font-family: "Palanquin";
        font-size: 1rem;
    }

    .footer-copyright {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            align-items: flex-start;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        img {
            height: 16px;
        }

        .copyright {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
    .footer-social {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: clamp(8px, 3.5vw, 16px);

        img {
            height: 24px;
        }
        a {
            display: flex;
            align-items: center;
        }
    }
}
/* #endregion footer */

/* #region media queries */
@media screen and (min-width: 1441px) {
    footer {
        > div {
            padding: 24px max(calc(50% - 720px + 120px), 120px);
        }
    }
}

@media screen and (min-width: 769px) {
    footer {
        margin-bottom: 0;
        align-items: center;

        > div {
            height: 152px;
            align-items: center;
            padding-bottom: 24px;
        }

        .footer-copyright ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: clamp(8px, 5vw, 72px);
        }

        .copyright {
            order: -2;
            font-size: 1.125rem;
        }

        .footer-social {
            img {
                height: 32px;
            }

            a {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    footer {
        div {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            gap: 5px;

            .footer-copyright {
                align-items: flex-start;
                ul {
                    .cookies {
                        display: none;
                    }
                    .copyright {
                        order: -2;
                    }
                }
            }

            .footer-social {
                flex-direction: row;
                align-items: space-between;
            }
        }
    }
}

/* OPTIONAL media query */
@media screen and (max-width: 319px) {
    footer {
        > div {
            height: clamp(168px, calc(100vw * 54 / 319 + 168px), 222px);
            padding: 0;
            padding-bottom: clamp(20px, calc(100vw * 68 / 319 + 20px), 88px);
            flex-direction: column;
            align-items: center;
            justify-content: center;

            gap: 5px;
            .footer-copyright {
                align-items: center;

                ul {
                    .cookies {
                        display: none;
                    }
                    .copyright {
                        order: -2;
                    }
                    a,
                    p {
                        font-size: clamp(0.5rem, calc(100vw * 0.5 / 20 + 0.5rem), 1rem);
                    }
                }
            }

            .footer-social {
                flex-direction: row;
                justify-content: center;
                align-items: space-between;

                width: 100%;
                img {
                    width: clamp(16px, calc(100vw * 16 / 319 + 16px), 32px);
                }
            }
        }
    }
}
/* #endregion footer min-width: 769px*/

/* #endregion media queries */
