.section-pro-tipps {
    height: 100%;
    width: 100%;

    /* as in other clamps: use linear function f(x) = m(x-x0)+y0 with m = (y2 - y1) / (x2 - x1)*/
    padding: 0 clamp(0px, calc((100vw - 400px) * 33.5 / (1400 - 400)), 33.5px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;

    .pro-tipps-icon {
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-main1);

        gap: 8px;
        border-radius: 10px;
        height: 66px;
        width: 196px;

        transform: rotate(-12deg);
        top: 6px;
        /* left: 0px; */

        p {
            color: var(--color-main2);
            font-size: 1.75rem;
            font-weight: 700;
        }

        img {
            width: 50px;
            height: 50px;
        }
    }

    .pro-tipps-ol-spacing {
        padding-left: clamp(0px, calc(100vw - 400px) * (50 / 1000), 50px);
    }

    ol {
        background-color: var(--color-background);
        border-radius: 30px;

        /* school was a while ago... f(x) = (x-x1) * (y2 - y1) / (x2 - x1) + y1 */
        padding: clamp(24px, calc((100vw - 400px) * 2 / 1000 + 24px), 26px) clamp(23px, calc((100vw * 27 / 900 + 23px)), 50px);

        a {
            text-decoration: none;
            color: var(--color-main1);
            font-weight: 700;
        }
    }
}