:root {
    /* <!-- #region colors --> */

    /* yellow */
    --color-main1: rgb(78, 164, 135);
    /* green */
    --color-main2: rgb(241, 201, 83);

    /* light-green */
    --color-background: rgba(78, 164, 135, 0.2);

    /* brown */
    --text-color: rgb(84, 55, 13);
    /* grey */
    --paragraph-color: rgb(61, 61, 61);

    /* <!-- #endregion colors --> */

    /* <!-- #region border radius --> */

    --border-radius-desktop-bubble: 30px;
    --border-radius-mobile: 30px;

    /* <!-- #endregion border racius --> */

    /* <!-- #region article fonts --> */

    --font-size-h1-desk: 4rem;
    --font-size-h2-desk: 1.5rem;
    --font-size-h3-desk: 2rem;
    --font-size-header-p-desk: 2rem;
    --font-size-author-h4-desk: 1.125rem;
    --font-size-author-p-desk: 1rem;
    --font-size-p-desk: 1.5rem;

    --font-size-h1-mobile: 2.5rem;
    --font-size-h2-mobile: 1.25rem;
    --font-size-h3-mobile: 1.25rem;
    --font-size-header-p-mobile: 1.125rem;
    --font-size-author-h4-mobile: 1rem;
    --font-size-author-p-mobile: 1rem;
    --font-size-p-mobile: 1rem;

    /* <!-- #endregion article fonts --> */
}
