/* #region content-main */
.section-article {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .list {
            width: min(1000px, 100%);
            display: flex;
            flex-direction: column;
            list-style-position: outside;
            gap: 24px;

            p {
                width: 100%;
            }

            ol {
                padding-left: 3ch;
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
    }
}
/* #endregion content-main */

/* #region media queries */
@media screen and (min-width: 769px) {
    .section-article {
        article {
            gap: 88px;
        }
    }
}
/* #endregion media queries */
