/* #region header */
header {
    nav {
        display: flex;
        justify-content: center;
        height: 70px;
        background-color: var(--color-main1);
    }

    a {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;

        p {
            font-family: "Arima";
            font-weight: 700;
            font-size: 1.5rem;
            color: #f8f5eb;
        }
    }

    a:hover {
        p {
            color: var(--color-main2);
        }

        .nav-desktop > img {
            transition: all 200ms ease-in-out;
            opacity: 1;
        }
    }

    a:active {
        p {
            color: #f8f5eb;
        }
    }

    img {
        height: 56px;
        width: 56px;
    }

    ul {
        transition: all 150ms ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        bottom: 0;
        z-index: 2;

        width: 100%;
        height: 88px;
        gap: 48px;

        background-color: var(--color-main2);
        list-style-type: none;

        li {
            display: flex;
            height: 100%;
            align-items: center;

            img {
                height: 40px;
                width: 40px;
            }
        }
    }
}

/* mobile-first: do not show desktop version of nav-bar */
.nav-desktop {
    display: none;
}
/* #endregion header */

/* #region content-main */
.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

/* smooth content limitation for content sections with up to 120px padding */
/* |  |<---------- 1440 ---------->|  | */
/* |  |            Hero            |  | */
/* |  |<-120| Content (desk) |120->|  | */
/* |  |<- 20| Content (mobi) | 20->|  | */

.content-main-section {
    height: 100%;
    width: 100%;
    padding: 44px max(calc(50% - 720px + 120px), clamp(20px, calc((120px * 100vw / 840px) / 2.5), 120px));
}

.section-header {
    padding-top: 24px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 24px;

    > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.section-author {
    /* height: 500px; */
    width: 100%;
    background-color: var(--color-background);
    border-radius: var(--border-radius-mobile);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 8px;

    p,
    h4 {
        text-align: center;
    }

    .title {
        font-weight: normal;
        line-height: 110%;
    }

    .name {
        gap: 0;
        line-height: 110%;
    }
}

aside {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    div {
        display: flex;
        gap: 6px;
    }
    .date img {
        width: 16px;
    }
    .reading-time img {
        width: 20px;
    }
    .read img {
        width: 20px;
    }
}

/* PLACEHOLDER to be removed with actual footer in region footer - here just showing content limit with color */
footer > .content-placeholder > div {
    background-color: #808080af;
    height: 100%;
    width: 100%;
}

/* #endregion content-main */

/* #region footer */
footer {
    background-color: var(--color-main1);
    height: 134px;
    margin-bottom: 88px;
}
/* #endregion footer */

/* #region media queries */
@media screen and (min-width: 769px) {
    /* #region header min-width: 769px */
    .nav-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        img {
            position: absolute;
            object-fit: contain;
            width: calc(100% + 50px);

            opacity: 0;
            transition: all 200ms ease-in-out;
        }

        .hover0 {
            top: 5px;
        }
        .hover1 {
            bottom: 19px;
        }
        .hover2 {
            top: 15px;
        }
        .hover3 {
            top: -24px;
            height: 80px;
        }
    }

    .nav-mobile {
        display: none;
    }

    header {
        nav {
            height: 128px;
            padding: 0px max(calc(50% - 600px));
            justify-content: flex-start;
            gap: clamp(32px, 8vw, 102px);
        }

        ul {
            transition: all 0s ease-in-out; /* desktop -> mobile transition only unidirectional */

            position: relative;
            height: 100%;
            width: auto;
            gap: clamp(16px, 6vw, 72px);
            background-color: #00000000;
        }

        img {
            height: 72px;
            width: 72px;
            padding-left: 6px;
        }
    }
    /* #endregion header min-width: 769px*/

    /* #region content-main min-width: 769px*/
    /* #endregion content-main min-width: 769px*/

    /* #region footer min-width: 769px*/
    footer {
        height: 152px;
        margin-bottom: 0;
    }
    /* #endregion footer min-width: 769px*/
}

/* OPTIONAL media query */
@media screen and (max-width: 319px) {
    header {
        ul {
            height: clamp(20px, calc(88px * 100vw / 319px), 88px);
            transition: all 0s ease-in-out;

            /* smooth clamping: (max-size * current-width / max-media-width ) / acceleration */
            gap: clamp(5px, (48px * 100vw / 319px) / 2, 48px);

            li img {
                width: clamp(16px, 40px * 100vw / 319px, 40px);
                height: clamp(16px, 40px * 100vw / 319px, 40px);
            }
        }
    }

    footer {
        margin-bottom: clamp(20px, 88px * 100vw / 319px, 88px);
    }
}
/* #endregion media queries */
