/* #region content-main */
.section-text-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: clamp(24px, calc(100vw * 8 / 1400 + 24px), 32px);

    ul {
        list-style-position: inside;
        padding-left: 2ch;
    }

    li::marker {
        font-size: 0.5em;
    }

    span {
        font-weight: 700;
    }
    .video {
        width: 100%;
        display: flex;
        justify-content: center;

        iframe {
            width: min(100%, 930px);
            aspect-ratio: 16/9;
            display: flex;
            border-radius: var(--border-radius-mobile);
            border-width: 0;
            object-fit: contain;
        }
    }
}
/* #endregion content-main */

/* #region media queries */
/* #endregion media queries */
