/* #region content-main */
.section-text-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: clamp(24px, calc(100vw * 32px / 1400px), 32px);

    ul {
        list-style-position: inside;
        padding-left: 2ch;
    }

    li::marker {
        font-size: 0.5em;
    }

    span {
        font-weight: 700;
    }
    .video {
        width: 100%;
        display: flex;
        justify-content: center;

        iframe {
            width: min(100%, 930px);
            aspect-ratio: 16/9;
            display: flex;
            border-radius: var(--border-radius-mobile);
            border-width: 0;
            object-fit: contain;
        }
    }
}
/* #endregion content-main */

/* #region media queries */
@media screen and (min-width: 769px) {
    p,
    li,
    a {
        color: var(--paragraph-color);
    }

    /* #region content-main min-width: 769px*/
    .content-main {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
    }

    .section-highlights {
        > p {
            display: block;
        }
    }
    /* #endregion content-main min-width: 769px*/
}

/* OPTIONAL media query */
@media screen and (max-width: 319px) {
    .section-highlights > div {
        img {
            width: clamp(16px, 40px * 100vw / 319px, 40px);
            height: clamp(16px, 40px * 100vw / 319px, 40px);
        }
    }

    h1,
    h2,
    h3 {
        font-size: clamp(1rem, calc((var(--f-size-h1-mobile) * 100vw / 319px)), var(--f-size-h1-mobile));
    }
}
/* #endregion media queries */
