/* global definitions for all sub-pages that are not index.html */
/* NOTE: clamp diff-size cant be done with variables */
h1 {
    font-family: "Arima";
    font-weight: 700;
    font-size: clamp(
        var(--f-size-h1-mobile),
        calc((100vw - 25rem) * (4 - 2.5) / (87.5 - 25) + var(--f-size-h1-mobile)),
        var(--f-size-h1-desk)
    );

    color: var(--color-main2);
    line-height: 120%;
}

h2 {
    font-family: "Palanquin";
    font-weight: 600;
    font-size: clamp(
        var(--f-size-h2-mobile),
        calc((100vw - 25rem) * (2.5 - 1.25) / (87.5 - 25) + var(--f-size-h2-mobile)),
        var(--f-size-h2-desk)
    );

    color: var(--color-main1);
}

h3 {
    font-family: "Arima";
    font-weight: 600;
    font-size: clamp(var(--f-size-h3-mobile), calc((var(--f-size-h3-desk) * 100vw / 840px)), var(--f-size-h3-desk));
    font-size: clamp(
        var(--f-size-h3-mobile),
        calc((100vw - 25rem) * (2 - 1.25) / (87.5 - 25) + var(--f-size-h3-mobile)),
        var(--f-size-h3-desk)
    );

    color: var(--text-color);
    line-height: 120%;
}

h4 {
    font-family: "Arima";
    font-weight: 700;
    font-size: clamp(var(--f-size-h4-mobile), calc((var(--f-size-h4-desk) * 100vw / 840px)), var(--f-size-h4-desk));
    font-size: clamp(
        var(--f-size-h4-mobile),
        calc((100vw - 25rem) * (1.125 - 1) / (87.5 - 25) + var(--f-size-h4-mobile)),
        var(--f-size-h4-desk)
    );
    color: var(--text-color);
}

p,
li,
a {
    font-family: "Palanquin";
    font-weight: 400;
    font-size: clamp(var(--f-size-p-mobile), calc((var(--f-size-p-desk) * 100vw / 840px)), var(--f-size-p-desk));
    font-size: clamp(
        var(--f-size-p-mobile),
        calc((100vw - 25rem) * (1.5 - 1) / (87.5 - 25) + var(--f-size-p-mobile)),
        var(--f-size-p-desk)
    );
    color: var(--text-color);
    line-height: 120%;
}

/* #region media queries */
@media screen and (min-width: 769px) {
    p,
    li,
    a {
        color: var(--paragraph-color);
    }
}

/* OPTIONAL media query */
@media screen and (max-width: 319px) {
    h1,
    h2,
    h3 {
        font-size: clamp(1rem, calc(100vw * (2.5 - 1) / 52.5 + 1rem), (var(--f-size-h1-mobile)));
    }

    h4,
    p,
    li,
    a {
        font-size: clamp(0.5rem, calc(100vw * 0.5 / 52.5 + 0.5rem), var(--f-size-p-mobile));
    }
}
/* #endregion media queries */
