/* #region content-main */
.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

/* smooth content limitation for content sections with up to 120px padding */
/* |  |<---------- 1440 ---------->|  | */
/* |  |            Hero            |  | */
/* |  |<-120| Content (desk) |120->|  | */
/* |  |<- 20| Content (mobi) | 20->|  | */

.content-main-section {
    height: 100%;
    width: 100%;
    /* padding desktop/mobile top/bottom 88px -> 40px & left/right 120px -> 20px */
    padding: clamp(20px, calc((100vw - 400px) * 24px / 1000px + 20px), 44px)
        max(calc(50% - 720px + 120px), clamp(20px, calc((120px * 100vw / 840px) / 2.5), 120px));
}

.section-header {
    padding-top: 24px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 24px;
    }

    h2 {
        line-height: 120%;
    }
    .header-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.section-author {
    width: 100%;
    background-color: var(--color-background);
    border-radius: var(--border-radius-mobile);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 8px;

    p,
    h4 {
        text-align: center;
    }

    .title {
        font-weight: 400;
        line-height: 110%;
    }

    .name {
        gap: 0;
        line-height: 110%;
    }
}

.header-facts {
    width: 100%;
    display: flex;
    gap: clamp(16px, calc((100vw - 400px) * 16px / 1000px + 16px), 32px);
    flex-wrap: wrap;

    div {
        display: flex;
        flex-direction: row;
        gap: 6px;
    }
    .date img {
        width: 16px;
    }
    .reading-time img {
        width: 20px;
    }
    .read img {
        width: 20px;
    }
}

.section-stats-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    img {
        /* school was a while ago... f(x) = (x-x1) * (y2 - y1) / (x2 - x1) + y1 */
        width: clamp(343px, (100vw - 400px) * (640px - 343px) / (700px - 400px) + 343px, 640px);
        border-radius: clamp(30px, (100vw - 400px) * (53px - 30px) / (700px - 400px) + 30px, 53px);
        box-shadow: -2px 4px 11.6px 0px #00000040;
    }
}

.section-stats-more {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    gap: clamp(32px, (100vw - 400px) * (80px - 32px) / (1400px - 400px) + 32px, 80px);

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: clamp(16px, (100vw - 400px) * (24px - 16px) / (1400px - 400px) + 16px, 24px);
        p {
            height: 200px;
            width: 100%;
        }

        p,
        img {
            width: clamp(343px, (100vw - 400px) * (520px - 343px) / (700px - 400px) + 343px, 520px);
        }
        img {
            height: clamp(311px, (100vw - 400px) * (470px - 311px) / (1400px - 400px) + 311px, 470px);
            border-radius: clamp(30px, (100vw - 400px) * (53px - 30px) / (700px - 400px) + 30px, 53px);
            box-shadow: -2px 4px 11.6px 0px #00000040;
            object-fit: contain;
        }
    }
}

/* #region footer */

footer {
    background-color: var(--color-main1);
    height: 134px;
    margin-bottom: 88px;
    width: 100%;
    padding: 24px max(calc(50% - 720px + 120px), clamp(30px, calc((120px * 100vw / 840px) / 2.5), 120px));
    display: flex;
    align-items: center;

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    p {
        color: white;
        font-size: 1rem;
    }

    a {
        text-decoration: none;
        color: white;
        font-family: "Palanquin";
        font-size: 1rem;
    }

    .footer-copyright {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            align-items: flex-start;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        img {
            height: 16px;
        }

        .copyright {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
    .footer-social {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 200px;
        gap: clamp(8px, 3.5vw, 16px);

        img {
            height: 24px;
        }
        a {
            display: flex;
            align-items: center;
        }
    }
}

/* #endregion footer */

/* #region media queries */
@media screen and (min-width: 1250px) {
    .section-stats-more {
        /* gap handled by space-around */
        gap: 0px;
    }
}

@media screen and (min-width: 769px) {
    p,
    li,
    a {
        color: var(--paragraph-color);
    }

    /* #region content-main min-width: 769px*/

    .content-main {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
    }

    .section-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            font-size: 2rem;
            width: 95%;
        }

        aside p {
            font-size: 1rem;
        }

        .section-author {
            padding: 16px 16px;
            width: 45%;

            p {
                font-size: 1rem;
                text-align: left;
            }
            .name {
                gap: 6px;
            }
        }
    }

    .section-highlights {
        > p {
            display: block;
        }
    }

    /* #endregion content-main min-width: 769px*/

    /* #region footer min-width: 769px*/
    footer {
        height: 152px;
        margin-bottom: 0;
        align-items: center;

        div {
            align-items: center;
        }

        .footer-copyright ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: clamp(8px, 5vw, 72px);
        }

        .copyright {
            order: -2;
            font-size: 1.125rem;
        }

        .footer-social {
            img {
                height: 32px;
            }

            a {
                display: flex;
                align-items: center;
            }
        }
    }

    /* #endregion footer min-width: 769px*/
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .section-stats-1 {
        img {
            width: 80vw;
        }
    }
    .section-stats-more {
        div {
            p,
            img {
                width: 80vw;
            }
        }
    }
    footer {
        margin-bottom: clamp(20px, 88px * 100vw / 319px, 88px);

        div {
            flex-direction: column;
            gap: 5px;

            .footer-copyright {
                align-items: flex-start;
                ul {
                    .cookies {
                        display: none;
                    }
                    .copyright {
                        order: -2;
                    }
                }
            }

            .footer-social {
                flex-direction: row;
                align-items: space-between;
                width: 100%;
            }
        }
    }
}

/* OPTIONAL media query */
@media screen and (max-width: 319px) {
    .section-highlights > div {
        img {
            width: clamp(16px, 40px * 100vw / 319px, 40px);
            height: clamp(16px, 40px * 100vw / 319px, 40px);
        }
    }
    .section-stats-1 {
        img {
            width: 80vw;
        }
    }
    .section-stats-more {
        div {
            p,
            img {
                width: 80vw;
            }
        }
    }
    footer {
        margin-bottom: clamp(20px, 88px * 100vw / 319px, 88px);
        height: clamp(80px, calc(134px * 100vw / 319px), 134px);
        padding: 0;

        div {
            flex-direction: column;
            gap: 5px;
            .footer-copyright {
                align-items: center;

                ul {
                    .cookies {
                        display: none;
                    }
                    .copyright {
                        order: -2;
                    }
                    a,
                    p {
                        font-size: clamp(0.5rem, calc((1rem * 100vw / 319px)), 1rem);
                    }
                }
            }

            .footer-social {
                flex-direction: row;
                justify-content: center;
                /* align-items: space-between; */
                align-items: flex-start;

                width: 100%;
                img {
                    width: clamp(16px, 32px * 100vw / 319px, 32px);
                }
            }
        }
    }

    h1,
    h2,
    h3 {
        font-size: clamp(1rem, calc((var(--f-size-h1-mobile) * 100vw / 319px)), var(--f-size-h1-mobile));
    }
}
/* #endregion media queries */
